<!DOCTYPE html>
<html>
<head>
  <title>Tabla de Datos</title>
  <style>
    body {
      background-color: #f2f2f2;
    }

    .table-container {
      background-color: #097385;
      color: rgb(255, 98, 7);
      padding: 20px;
      margin: 0 auto;
      width: 80%;
      border-radius: 10px;
    }

    #data-table {
      width: 100%;
      border-collapse: collapse;
    }

    #data-table th, #data-table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    #data-table th {
      background-color: #00639c;
      color: white;
    }

    #data-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #data-table tr:hover {
      background-color: #1aecec;
    }
  </style>
</head>
<body>
  <div class="table-container">
    <table id="data-table">
      <tr>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Tipo</th>
        <th>Latitud</th>
        <th>Longitud</th>
      </tr>
      {{#each listadosensores}}
      <tr>
        <td>{{nombre}}</td>
        <td>{{ubicacion}}</td>
        <td>{{tipo}}</td>
        <td>{{latitud}}</td>
        <td>{{longitud}}</td>
      </tr>
      {{/each}}
    </table>
  </div>

</body>

</html>
